@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.Nav {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  padding: 0 22px;
  background-color: rgba(45,45,45,0.98);
  position: fixed;
  opacity: 0.95s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.navButton {
  color: white;
  font-size: 14px;
}

.container1 {
  height: 290px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 44px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
  
}

.containerInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iPhoneXLeasing {
  width: 600px;
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
}

.R {
  height: 37px;
  font-size: 28px;
  display: flex;
  align-items: flex-end;

}

.buyLearn {
  width: 190px;
  display: flex;
  justify-content: space-between;
  color: #0070c9;  
  font-size: 21px;
  font-weight: 400;
}

.tradeIn {
  width: 483px;
  font-size: 21px;
  font-weight: 400;
  padding: 10px 0 20px 0;
}

.container2 {
  height: 700px;
  width: 100%;
  padding-top: 55px;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.iPhoneInfo {
  width: 600px;
  font-size: 23px;
  font-weight: 400;
  padding: 10px 0 20px 0;
}

.container3 {
  height: 700px;
  width: 100%;
  padding-top: 55px;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container4 {
  height: 700px;
  width: 100%;
  padding-top: 55px;
  box-sizing: border-box;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.macBookAir {
  font-size: 56px;
  font-weight: 500;
}

.macBookInfo {
  width: 600px;
  font-size: 26px;
  font-weight: 400;
  padding: 0px 0 20px 0;
}

.macbookAir {
  width: 600px;
  font-size: 56px;
  font-weight: 400;
  padding: 10px 0 20px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  box-sizing: border-box;
  height: 590px;
  width: 50%;
  background-color: #fafafa;
  border: 6px solid white;
  border-left-width: 12px;
  display:flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  justify-content: top;
  align-items: center;
  padding-top: 40px;
}

.boxInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watchInfo {
  width: 600px;
  font-size: 20px;
  font-weight: 400;
}

.buyLearnBox {
  width: 170px;
  display: flex;
  justify-content: space-between;
  color: #0070c9;  
  font-size: 17px;
  font-weight: 400;
  padding: 10px 0 31px 0;
}

.box2 {
  box-sizing: border-box;
  height: 590px;
  width: 50%;
  background-image: url("https://www.apple.com/v/home/ea/images/promos/iphone-contest-winners/contest_winners_large.jpg");
  background-position: center;
  border: 6px solid white;
  border-right-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: flex-start;
}

.challenge {
  width: 350px;
  font-size: 40px;
  font-weight: 600;
  color: white;
  padding-top: 50px;
}

.challengeInfo {
  width: 350px;
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.learnWhite {
  width: 300px;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding-top: 15px;
}

.box3 {
  box-sizing: border-box;
  height: 590px;
  width: 50%;
  background-color: #fafafa;
  border: 6px solid white;
  border-left-width: 12px;
  display:flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  justify-content: top;
  align-items: center;
  padding-top: 40px;
}

.iPadPro {
  font-weight: 500;
}

.iPadInfo {
  width: 600px;
  font-size: 20px;
  font-weight: 400;
}

.iPadImage {
  padding-top: 20px;
}

.box4 {
  box-sizing: border-box;
  height: 590px;
  width: 50%;
  background-image: url("https://www.apple.com/v/home/ea/images/promos/taa/tiles_generic_large.jpg");
  background-position: center;
  border: 6px solid white;
  border-right-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: flex-start;

}

.todayApple {
  width: 600px;
  font-size: 40px;
  font-weight: 500;
  padding-top: 50px;
}

.todayInfo {
  width: 450px;
  font-size: 20px;
  font-weight: 400;
}

.sessionNear{
  width: 300px;
  font-size: 17px;
  font-weight: 400;
  color: black;
  padding-top: 15px;
}

.box5 {
  box-sizing: border-box;
  height: 590px;
  width: 50%;
  background-image: url("https://www.apple.com/v/home/ea/images/promos/apple-music/apple_music_large.jpg");
  background-position: center;
  border: 6px solid white;
  border-left-width: 12px;
  border-bottom-width: 12px;
  display:flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  justify-content: top;
  align-items: center;
  padding-top: 40px;
}

.musicInfo {
  width: 350px;
  font-size: 20px;
  font-weight: 400;
  color: white;
}

.tryLearn {
  width: 250px;
  font-size: 17px;
  font-weight: 400;
  color: white;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.one {
  font-size: 10px;
}

.music {
  padding-top: 340px;
}

.box6 {
  box-sizing: border-box;
  height: 590px;
  width: 50%;
  background-color: #fafafa;
  border: 6px solid white;
  border-right-width: 12px;
  border-bottom-width: 12px;
  display:flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  justify-content: top;
  align-items: center;
  padding-top: 40px;
}

.airPodPic {
  padding-top: 5px;
}

.airPod {
  padding-top: 10px;
  font-weight: 500;
}

.airPodInfo {
  width: 600px;
  font-size: 20px;
  font-weight: 400;
}

.footer {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.footerbox {
  height: 550px;
  width: 50%;
  min-width: 900px;
  background-color: #F2F2F2;
  padding-top: 20px;
}

.disclaimer {
  font-size: 13px;
  color: #8D8D8D;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
  font-weight: 400;
}

.footerLinks {
  display: flex;
  padding-top: 20px;
}

.footerLinkButtons {
  font-size: 13px;
  width: 200px;
  display: flex;
  color: #8D8D8D;
  flex-direction: column;
  text-align: left;
  font-weight: 400;
  line-height: 1;
}

.bold {
  color: #555555;;
  font-weight: 600;
}

.bottomInfo {
  padding-top: 20px;
  text-align: left;
  font-size: 13px;
  color: #8D8D8D;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.copyrightBox {
  padding-top: 10px;
  text-align: left;
  font-size: 12px;
  color: #8D8D8D;
  display: flex;
  justify-content: space-between;
}

.legal {
  display: flex;
}

.privacy {
  padding-right: 10px;
  border-right: 1px solid #d6d6d6;
  color: #555555;  
}

.terms {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #d6d6d6;
  color: #555555;  
}

.map {
  margin-right: 110px;
  padding-left: 10px;
  color: #555555;  
}

.united {
  float: right;
  color: #555555; 
  display: flex;
  align-items: flex-end;
}

.us {
  padding-left: 5px;
}