.App {
  text-align: center;
}

.Nav {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
 padding: 0 22px;
  background-color: #333;
  position: fixed;
  opacity: .99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 52%;
}

.navButton {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}