@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.Nav {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  padding: 0 22px;
  background-color: black;
  position: fixed;
  opacity: 0.80;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.navButton {
  color: white;
  font-size: 14px;
}

.container1 {
  height: 295px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 44px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container1Info {
  width: 50%;
 
}

.iPhoneXLeasing {
  display: flex;
  justify-content: center;
  font-size: 32px;
  font-weight: 600;
}

.R {
  height: 37px;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.container2 {
  height: 700px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa
}

.container3 {
  height: 700px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa
}

.container4 {
  height: 700px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fafafa
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  box-sizing: border-box;
  height: 580px;
  width: 50%;
  background-color: limegreen;
  border: 6px solid white;
  border-top-width: 12px;
  border-left-width: 12px;
  display:flex;
  flex-direction: column;
  font-size: 40px;
  font-weight: 600;
  justify-content: top;
  align-items: center;
  padding-top: 40px;
  background-image: url("");
  background-position: center;
}

.box2 {
  box-sizing: border-box;
  height: 580px;
  width: 50%;
  background-color: limegreen;
  border: 6px solid white;
  border-top-width: 12px;
  border-right-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.box3 {
  box-sizing: border-box;
  height: 580px;
  width: 50%;
  background-color: limegreen;
  border: 6px solid white;
  border-left-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.box4 {
  box-sizing: border-box;
  height: 580px;
  width: 50%;
  background-color: limegreen;
  border: 6px solid white;
  border-right-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;

}

.box5 {
  box-sizing: border-box;
  height: 580px;
  width: 50%;
  background-color: limegreen;
  border: 6px solid white;
  border-bottom-width: 12px;
  border-left-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.box6 {
  box-sizing: border-box;
  height: 580px;
  width: 50%;
  background-color: limegreen;
  border: 6px solid white;
  border-bottom-width: 12px;
  border-right-width: 12px;
  display:flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #F2F2F2;
}

.footerbox {
  height: 500px;
  width: 50%;
  margin: auto;
  background-color: #F2F2F2;
  padding-top: 20px;
}

.africa {
  font-size: 12px;
  color: #8D8D8D;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #d6d6d6;
}

.footerLinks {
  display: flex;
  padding-top: 40px;
}

.footerLinkButtons {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #747474;
  margin-right: 100px;
}

.bold {
  color: black;
}
